@font-face {
    font-family: IRANSansWeb;
    src: url('IRANSansWeb.eot');
    src: url('IRANSansWeb.eot?#iefix') format('embedded-opentype'),
         url('IRANSansWeb.woff2') format('woff2'),
         url('IRANSansWeb.woff') format('woff'),
         url('IRANSansWeb.ttf') format('truetype');
    font-weight: normal;

  }


body{
    direction: rtl;
    text-align: right;
    font-family: "IRANSansWeb";
    font-size: 14px;
}

.ms-auto {
    margin-left: initial !important;
    margin-right: auto;
}

.post-meta{
    text-align: left;
}

.post-title{
    font-family: "IRANSansWeb";
}
.masthead{
    font-family: "IRANSansWeb";
}
