{% extends 'blog/base.html' %}

 {% load static%}

<!-- Main Content-->
        
        {%block main%}

 <header class="masthead" style="background-image: url('{% static "blog/assets/img/home-bg.jpg" %}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>رئال مادرید</h1>
        
                        </div>
                    </div>
                </div>
            </div>
        </header> 

        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                   {% for article in category.articles.all  %}
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="{% url 'blog:detail' article.slug%}">
                            <h2 class="post-title">{{article.title}}</h2>
                            
                        </a>
                        <h6 class="post-subtitle">{{article.desc|truncatewords:16}}</h6>
                        <p class="post-meta">
                            {{article.jpublish}}
                            <div>
                            {% for cat in article.category_published.all %}
                             <a href="">{{cat.title}} </a>
                            
                            {% endfor %}
                            </div>
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                   {% endfor %}
                    <!-- Post preview-->
                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">مقاله های قدیمی &larr;</a></div>
                </div>
            </div>
        </div>

{% endblock%}